body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(0, 168, 132);
}

section {
    position: relative;
    margin: 0;
    padding: 25px 0;
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
}

#qr-section {
    transform-style: preserve-3d;
    position: relative;
    transform: perspective(100px) rotateY(-0.5deg) rotateX(1deg) rotateZ(1deg);
}

#qr-card {
    width: 300px !important;
    z-index: 1000;
    border-radius: 10px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg) !important;
    opacity: 0;
    transform-style: preserve-3d;
}

#sticky-phone,
#sticky-details,
#sticky-notif {
    width: 300px !important;
    position: absolute;
    right: 10%;
}

#sticky-details,
#sticky-notif {
    opacity: 0;
}
#sticky-phone {
    bottom: -5%;
}

#sticky-notif {
    transform: scale(0.2);
}